@namespace text url(urn:oasis:names:tc:opendocument:xmlns:text:1.0);

#UI {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

#formContainer {
    width: 300px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #eeeeee;
    font-family: sans-serif;
    font-size: 10pt;
    z-index: 1;
    box-shadow: 0px 0px 5px black;
}

#formContainer h1 {
    text-align: center;
    font-weight: normal;
}

#canvas {
    margin-top: 10px;
    box-shadow: 0 0 5px black;
}

text|user-field-get:hover {
    background: #cccccc;
}

.groupHeader {
    font-size: 10pt;
    padding: 5px;
    background-color: #c0c0ff;
    box-shadow: 0 0 3px black;
    cursor: pointer;
}
.groupHeader img {
    width: 19px;
    height: 1em;
}
.groupHeader.goog-zippy-expanded img {
    background-image: url('minus.png');
}
.groupHeader.goog-zippy-collapsed img {
    background-image: url('plus.png');
}

.groupContent {
    font-size: 10pt;
    padding: 5px;
}

.groupContent label {
    display: inline-block;
    width: 280px;
    text-align: right;
    padding: 2px;
}

.groupContent label > input {
    margin-left: 10px;
}

.goog-date-picker {
    z-index: 2;
}